.gallery-container {
  width: var(--width);
  margin: 0 auto;
  margin-top: var(--gap);
  max-height: calc(100vh - var(--header-height) * 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: var(--gap);
  overflow-y: scroll;
}

.column {
  --short: 150px;
  --tall: 300px;
  display: grid;
  grid-template-rows: repeat(auto-fill, var(--short) var(--tall));
  gap: var(--gap);
}

.column:nth-child(2) {
  grid-template-rows: repeat(auto-fill, var(--tall) var(--short));
}

.image-container {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.add-to-album {
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  z-index: 10;
  transition: all 250ms linear;
}
.add-to-album:hover {
  background-color: #111;
}

.image-container:hover div {
  display: block;
  opacity: 1;
}

.image-container:hover .image {
  transform: scale(1.2);
}

.image {
  height: 100%;
  width: 100%;
  transform-origin: center;
  -webkit-transform-origin: center;
  object-fit: cover;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}
