.modal-container {
  /* width: var(--width); */
  z-index: 10;
  /* height: 600px; */
  /* max-height: calc(100vh - var(--header-height)); */
  /* background-color: white; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -46%);
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 4px solid;
}

.nav-arrow {
  position: absolute;
  font-size: 36px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav-arrow:nth-child(1) {
  left: -10%;
}
.nav-arrow:nth-child(2) {
  right: -10%;
}

.modal-image {
  /* width: 100%; */
  /* position: absolute; */
  background-color: red;
  overflow: hidden;
}

.modal-image img {
  max-height: 500px;
  max-width: 100%;
  object-fit: cover;
}

.close-button {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  cursor: pointer;
  transition: all 250ms linear;
}

.close-button:hover {
  background-color: #eee;
}

.modal-image-info .label {
  font-size: 14px;
  text-transform: uppercase;
}

.modal-image-info .author {
  font-size: 32px;
}

.modal-image-info .info {
  font-size: 14px;
  color: grey;
  margin-bottom: var(--gap);
}

.backdrop {
  display: block;
  position: absolute;
  left: -50%;
  width: 100vw;
  height: 100%;
  background-color: white;
  z-index: -1;
}
