.modal-container {
  width: var(--width);
  height: calc(100vh - var(--header-height));
  z-index: 10;
  background-color: white;

  position: fixed;
  top: calc(var(--header-height));
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  text-align: center;
}

.modal-options {
}

.modal-image {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.close-button {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  cursor: pointer;
  transition: all 250ms linear;
}

.close-button:hover {
  background-color: #eee;
}

.modal-image-info {
}

.modal-image-info .label {
  font-size: 14px;
  text-transform: uppercase;
}

.modal-image-info .author {
  font-size: 32px;
}

.modal-image-info .info {
  font-size: 14px;
  color: grey;
  margin-bottom: var(--gap);
}
