.modal-container {
  width: var(--width);
  height: 80vmin;
  /* height: calc(100vh - var(--header-height)); */
  z-index: 10;
  background-color: bisque;

  position: fixed;
  /* top: calc(var(--header-height) + var(--gap)); */
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -50%);
}

.modal-container::backdrop {
  background-color: red;
}

.modal-image {
  height: 80%;
  width: 100%;

  object-fit: contain;
}

.close-button {
  box-sizing: content-box;
  position: absolute;
  right: 0;
  padding: 1rem;
  cursor: pointer;
  transition: all 250ms linear;
}

.close-button:hover {
  background-color: #eee;
}
