:root {
  --header-height: 60px;
  --width: 70vw;

  --gap: 25px;

  --anim-time: 150ms;
  --anim-function: ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  font-family: "Lexend Deca", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
}

.header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 2rem;
}

.header button {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  margin: 0;
  border-color: white;
}

.btn,
.btn-inv {
  font-size: 14px;
  text-transform: uppercase;
  max-width: max-content;
  min-width: 120px;
  font-weight: 800;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
  transition: all var(--anim-time) var(--anim-function);
  border: 2px solid black;
  margin: 0.5rem;
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: #111;
}

.btn-inv {
  color: black;
  background-color: white;
}

.btn-inv:hover {
  background-color: black;
  color: white;
}
