:root {
  --header-height: 34px;
  --width: 960px;

  --gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header {
  height: var(--header-height);
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 2rem;
}

.header .logo {
  /* justify-self: center; */
  /* padding: .5rem; */
  font-size: 24px;
  font-weight: bold;
}

.my-albums {
  border: 1px solid white;
  font-size: 8px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0.25rem 1rem;
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  /* align-self: flex-end; */
}

/* ----------- GALLERY STYLING --------------  */

.gallery-container {
  max-width: var(--width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: var(--gap);
  position: absolute;
  top: calc(var(--header-height) + var(--gap));
  left: 50%;
  transform: translateX(-50%);
}

.tall {
  grid-row: span 2;
}

.image-container {
  cursor: pointer;
  overflow: hidden;
}

.image-container:hover .image {
  transform: scale(1.2);
}

.image {
  width: 100%;
  height: 100%;
  transform-origin: center;
  object-fit: cover;
  transition: transform 250ms ease-in-out;
}
